@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('/AktivGroteskCorp/AktivGroteskCorp-Regular.woff') format('woff');
  }
*{
    font-family: Aktiv Grotesk Corp, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
