
.contentContainer{
    position: absolute;
    margin-top: 60px;
    height: 50%;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#third .contentContainer {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

#third .contentContainer .mobile p {
    text-align: left;
    font-family: Aktiv Grotesk Corp;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    text-transform: capitalize;
}

#third .contentContainer .mobile p:nth-last-of-type(1){
    font-family: Aktiv Grotesk Corp;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.6;
    text-transform: capitalize;
}

#third .contentContainer .mobile h2 {
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
}

#third .desktop {
    visibility: hidden;
}

#fourth .content{
    height: 45vh;
}

#fourth .desktop {
    visibility: hidden;
}

@media only screen and (min-width: 1200px){
    
    #third .mobile{
        visibility: hidden;
    }

    #third .desktop{
        visibility: visible;
        position: absolute;
        top: 0;
        width: 50%;
    }

    #third .contentContainer .desktop p{
        font-family: Aktiv Grotesk Corp;
        font-size: 23px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        opacity: 0.6;
        margin-bottom: 0;
    }

    #third .contentContainer .desktop h2{
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin-top: 10px;
    }

    #third .contentContainer .desktop p:nth-child(3){
        font-size: 18px;
        line-height: 25px;
        padding-left: 0;
        padding-bottom: 25px;
        border-bottom: gray 1px solid;
        margin-bottom: 50px;
        max-width: 480px;
    }

    #third .contentContainer .desktop .quality{
        margin-left: 32px;
    }

    #third .contentContainer .desktop .quality h6 {
        font-family: Aktiv Grotesk Corp;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 0;
    }

    #third .contentContainer .desktop .quality p{
        font-family: Aktiv Grotesk Corp;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 5px;
        margin-bottom: 22px;
    }

    #third .contentContainer .learnMore{
        display: flex;
        align-items: center;
        margin-top: 54px;
        cursor: pointer;
    }
    
    #third .contentContainer .desktop span{
        font-family: Aktiv Grotesk Corp;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 4px;
        cursor: pointer;
    }

    #third .contentContainer .desktop p:nth-last-of-type(1){
        padding-left: 0px;
    }

    #third .contentContainer .learnMore img:hover {
        transform: scale(1.1);
    }

    #fourth .contentContainer {
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 20px;
    }

    #fourth .mobile{
        visibility: hidden;
    }

    #fourth .desktop{
        visibility: visible;
        position: absolute;
        top: 0;
    }

    #fourth .contentContainer .desktop p{
        font-family: Aktiv Grotesk Corp;
        font-size: 24px;
        color: #FFFFFF;
        opacity: 0.6;
        margin-bottom: 0;
        text-align: left;
        text-transform: none;
    }

    #fourth .contentContainer .desktop h2{
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin-top: 10px;
        text-align: left;
        text-transform: none;
    }

    #fourth .contentContainer .desktop p:nth-child(3){
        font-size: 18px;
        line-height: 25px;
        padding-left: 0;
        padding-bottom: 25px;
        border-bottom: gray 1px solid;
        color: #FFFFFF;
        margin-bottom: 50px;
        max-width: 480px;
    }

    #fourth .contentContainer .desktop .quality{
        margin-left: 32px;
    }

    #fourth .contentContainer .desktop .quality h6 {
        font-family: Aktiv Grotesk Corp;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 0;
    }

    #fourth .contentContainer .desktop .quality p{
        font-family: Aktiv Grotesk Corp;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 5px;
        margin-bottom: 22px;
    }

    #fourth .contentContainer .learnMore{
        display: flex;
        align-items: center;
        margin-top: 54px;
        cursor: pointer;
    }
    
    #fourth .contentContainer .desktop span{
        font-family: Aktiv Grotesk Corp;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 4px;
        cursor: pointer;
    }

    #fourth .contentContainer .learnMore img:hover {
        transform: scale(1.1);
    }
}

.contentContainer h1 {
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.6em;
    color: white;
    text-transform: uppercase;
}

#second .contentContainer h1 {
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #FFFFFF;
}

.contentContainer h2 {
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.contentContainer p{
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    opacity: 0.4;
    text-transform: uppercase;
}

.contentContainer .content button {
    width: 163px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    background-color: transparent;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Aktiv Grotesk Corp;
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.contentContainer .content button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    transform: scale(1.1);