
.menu{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.hamburgerButton:hover {
    transform: scale(1.05);
}

.hamburgerButton:focus {
    outline: none;
}

.hamburgerButton {
    width: 21px;
    height: 21px;
    margin: 20px;
    background-image: url(/images/hamburger.png);
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.language {
    margin: 20px;
    font-size: 16px;
    opacity: 0.6;
    cursor: pointer;
    z-index: -1;
    display: flex;
    align-items: center;
}

.language img {
    margin-left: 5px;
}

.language:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 17, 18, 0.95);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.visible{
    display: block;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    height: 10%;
    min-height: 76px;
    letter-spacing: 0.2em;
    font-weight: lighter;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav a:nth-child(0){
    background-color:#141112;
}

nav a:nth-child(1){
    background-color: #141112;
}

nav a:nth-child(2){
    background-color: #141112;
}

nav a:nth-child(3){
    background-color: rgba(20, 17, 18, 0.8);
}

nav a:nth-child(4){
    background-color: rgba(20, 17, 18, 0.6);
}

nav a:nth-child(5){
    background-color: rgba(20, 17, 18, 0.4);
}

nav a:nth-child(6){
    background-color: rgba(20, 17, 18, 0.2);
}

nav a:nth-child(7){
    background-color: rgba(20, 17, 18, 0.2);
}

@media only screen and (min-width: 600px) {
    .hamburgerButton::after {
        content: "Menu";
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin: 0 31px;
    }

    nav {
      width: 519px;
    }
  }
