
.menu{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.hamburgerButton:hover {
    transform: scale(1.05);
}

.hamburgerButton {
    width: 21px;
    height: 21px;
    margin: 20px;
    background-image: url(/images/hamburger.png);
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.language {
    margin: 20px;
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    cursor: pointer;
    z-index: -1;
}

.language:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0, .95);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.visible{
    display: block;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-family: Roboto;
    width: 100%;
    height: 10%;
    min-height: 76px;
    letter-spacing: 0.2em;
    font-weight: lighter;
    border-top: 1px    rgb(255,255,255, .1) solid;
    border-bottom: 1px    rgb(255,255,255, .1) solid;
}

nav a:nth-child(0){
    background-color: rgb(0,0,0, .90);
}

nav a:nth-child(1){
    background-color: rgb(0,0,0, .90);
}

nav a:nth-child(2){
    background-color: rgb(0,0,0, .85);
}

nav a:nth-child(3){
    background-color: rgb(0,0,0, .85);
}

nav a:nth-child(4){
    background-color: rgb(0,0,0, .80);
}

nav a:nth-child(5){
    background-color: rgb(0,0,0, .80);
}

nav a:nth-child(6){
    background-color: rgb(0,0,0, .75);
}

nav a:nth-child(7){
    background-color: rgb(0,0,0, .75);
}

@media only screen and (min-width: 600px) {
    .hamburgerButton::after {
        content: "Menu";
        font-family: Aktiv Grotesk Corp;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0 31px;
    }
    
    nav {
      width: 519px;
    }
  }
