main {
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.screen{
    z-index: 1;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    position: relative;

}
#fourth{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 100vh;
    box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
    height: 100vh;
}
#fifth{background-color: #000000; position: fixed; bottom: 0; height: 100vh; z-index: 0;}

#sixth{
    opacity: 0;
    width: 0%;
}

#fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: Aktiv Grotesk Corp;
    font-weight: 300;
    text-align: center;
    padding-bottom: 14px;
}

#fifth .logo{
    margin: 80px 0 80px 0;
}

#fifth p {
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
}
#fifth .download a {
    color: rgb(151, 151, 151);
}

#fifth .download p {
    margin: 6px;
}

#fifth .download p:last-child {
    font-family: Aktiv Grotesk Corp;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 90px;
}

#fifth .download p:last-child:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#fifth .socialMedia {
    width: 235px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32;
    transition: all 0.5s ease;
    cursor: pointer;
}

#fifth .socialMedia img:hover {
    transform: scale(1.2);
}

#fifth .contact ul {
    display: flex;
    justify-content: space-around;
    font-family: Aktiv Grotesk Corp;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    width: 90vw;
    margin: 32px 55px 14px 55px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#fifth .contact li {
    list-style: none;
}

#fifth .contact li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#fifth .contact p {
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

#fifth form {
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: left;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fifth form input {
    background-color: transparent;
    border: 0;
    opacity: 0.6;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;
    margin-top: 8px;
    margin-bottom: 41px;
    width: 252px;
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    opacity: 0.3;
}

#fifth form input:focus{
    outline: none;
}

#fifth form input:focus::-webkit-input-placeholder { color:transparent;}

#fifth form button {
    background: #FFFFFF;
    border-radius: 2px;
    width: 128px;
    height: 48px;
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 104px;
}
#fifth form button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
