
.screen{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}
.screen.first{background-color: blue;}
.screen.second{background-color: red;}
.screen.third{background-color: green;}
.screen.fourth{background-color: hotpink;}
