
.screen{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}
#first{background-color: blue;}
#second{background-color: red;}
#third{background-color: green;}
#fourth{background-color: hotpink;}
