
.scrollButtons{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 20px;
    z-index: 2;
}

.scrollButton {
    width: 6px;
    height: 6px;
    background: none;
    border-radius: 50%;
    margin: 25px 0px 25px 0;
    border: 6px solid white;
    background: transparent;
}
.scrollButtonHighlighted {
    width: 6px;
    height: 6px;
    background: none;
    border-radius: 50%;
    margin: 25px 0px 25px 0;
    border: 6px double #FFFFFF;
    background: transparent;
}