
.scrollButtons{
    position: fixed;
    height: 100vh;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.scrollButton {
    background-color: white;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}