#second .contentContainer h1 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.6em;
}
@media only screen and (min-width: 600px) {
    #second .contentContainer h1, #first .contentContainer h1{
        font-size: 48px;
    }
    #second .contentContainer p, #first .contentContainer p{
        font-size: 16px;
    }
    #second .contentContainer button, #first .contentContainer button{
        width: 307px;
        height: 56px;
        font-size: 16px;
    }
}
