#third .contentContainer {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

#third .contentContainer .mobile p {
    text-align: left;
    font-size: 18px;
    opacity: 0.6;
    margin-top: 10px;
    text-transform: none;
}

#third .contentContainer .mobile p:nth-last-of-type(1){
    font-size: 14px;
    line-height: 20px;
    opacity: 0.6;
    text-transform: none;
}

#third .contentContainer .mobile h2 {
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
    text-align: left;
}

#third .desktop {
    visibility: hidden;
}

@media only screen and (min-width: 1200px){

    #third .mobile{
        visibility: hidden;
    }

    #third .desktop{
        visibility: visible;
        position: absolute;
        top: 0;
        width: 50%;
        margin-top: 30px;
    }

    #third .contentContainer .desktop p{
        font-size: 23px;
        opacity: 0.6;
        margin-bottom: 0;
    }

    #third .contentContainer .desktop h2{
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin-top: 10px;
    }

    #third .contentContainer .desktop p:nth-child(3){
        font-size: 18px;
        line-height: 25px;
        padding-left: 0;
        padding-bottom: 25px;
        border-bottom: gray 1px solid;
        margin-bottom: 50px;
        max-width: 480px;
    }

    #third .contentContainer .desktop .quality{
        margin-left: 32px;
    }

    #third .contentContainer .desktop .quality h6 {
        font-size: 18px;
        line-height: 25px;
        margin: 0;
    }

    #third .contentContainer .desktop .quality p{
        font-size: 12px;
        opacity: 0.6;
        margin-top: 5px;
        margin-bottom: 22px;
    }

    #third .contentContainer .learnMore{
        display: flex;
        align-items: center;
        margin-top: 54px;
        cursor: pointer;
    }

    #third .contentContainer .desktop span{
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-left: 4px;
        cursor: pointer;
    }

    #third .contentContainer .desktop p:nth-last-of-type(1){
        padding-left: 0px;
    }

    #third .contentContainer .learnMore img:hover {
        transform: scale(1.1);
    }
}
